{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<div class="content">
    <div class="row">
        <form method="post" class="col s12">
        {% csrf_token %}
          <div class="row">
            <div class="input-field col s12">
              <input name="username" id="first_name" type="text" class="validate">
              <label for="first_name">Username</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input name="password1" id="password" type="password" class="validate">
              <label for="password">Пароль</label>
            </div>
          </div>
           <div class="row">
            <div class="input-field col s12">
              <input name="password2" id="password2" type="password" class="validate">
              <label for="password">Повторите пароль</label>
            </div>
          </div>
            <button class="btn waves-effect waves-light" type="submit" name="action">Сохранить</button>
        </form>
    </div>
</div>
{% endblock content %}