{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<div class="content">
    <table>
        <thead>
          <tr>
            <th>Магазин</th>
            <th>Домен</th>
          </tr>
        </thead>
        {% if shops_list %}
        <tbody>
        {% for item in shops_list %}
          <tr>
            <td><a href="{% url 'shop' item.pk %}">{{ item.name }}</a></td>
            <td>{{ item.domain }}</td>
          </tr>
        {% endfor %}
        </tbody>
        {% endif %}
    </table>
</div>
{% endblock content %}